html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.navigation-bar {
    /* blur */
    backdrop-filter: blur(10px);
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 64px;

    ul {
        list-style: none;
        display: flex;
        gap: 16px;
        margin: 0;
        padding: 0;

        li {
            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.intro,
.cadre {
    text-align: center;
    height: calc(100svh - 64px);
    padding-top: 64px;
    background: linear-gradient(to bottom,lightblue, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;

        input {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 8px 16px;
            font-size: 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
 
}

.intro {
    margin-top: -64px
}

.txt1 {
    font-size: 50px
}
